{% extends "base.html" %}
{% block body %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/app_details.js') }}">
    </script>
    <form role="form" action="cart_action" method="post">
        <div class="container">
            <div class="row">
                <div class="col-xs-1"><img src="
                        {{ url_for('static', filename='img/' + app.app_image) }}"
                                           class="img-rounded" width="64"
                                           height="64"></div>
            </div>
            <div class="row">
                <div class="col-xs-2"><span>Name</span></div>
                <div class="col-xs-6">{{ app.app_name }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><span>Platform</span></div>
                <div class="col-xs-6">{{ app.platform }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><span>Platform Requirements</span></div>
                <div class="col-xs-6">{{ app.platform_requirements }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><span>Publisher</span></div>
                <div class="col-xs-6">{{ app.app_publisher }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><span>Description</span></div>
                <div class="col-xs-6">{{ app.app_description }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><span>License Count</span></div>
                <div class="col-xs-6">{{ app.license_count }}</div>
            </div>
            <div class="row">
                <div class="col-xs-2"><span>Price</span></div>
                <div class="col-xs-6">${{ app.price }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 form-inline">
                    <div class="form-group">
                        <label>Qty</label>
                        <input type="number" min="1" class="form-control"
                               size="2" name="quantity">
                    </div>
                    <input type="hidden" value="{{ app.id }}" name="app_id">
                </div>
                <div class="col-xs-6">
                    <div class="btn-group" role="group">
                        <button type="submit" name="add_to_cart_btn"
                                value="add_to_cart" class="btn btn-primary">
                            Add To Cart
                        </button>
                        <button type="submit" class="btn btn-success"
                                name="add_to_cart_btn"
                                value="add_to_cart_and_checkout">
                            Add To Cart and Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}