{% extends "base.html" %}
{% block body %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/cart.js') }}">
    </script>
    <div id="shopping-cart">
        <form role="form" action="cart" method="post">
            <table id="shopping-cart-table">
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </table>
            <div class="btn-group">
                <button id="clear-cart-btn" class="btn btn-warning">
                    Clear Cart
                </button>
                <button id="delete-selected-btn" class="btn btn-warning">
                    Delete Selected
                </button>
                <button id="change-qty-btn" class="btn btn-default">
                    Change Quantity
                </button>
                <button type="submit" id="checkout-btn" class="btn btn-primary">
                    Proceed To Checkout
                </button>
            </div>
        </form>
    </div>
{% endblock %}