{% extends "base.html" %}
{% block body %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/checkout.js') }}">
    </script>
    <div id="checkout">
        <form role="form" method="post" action="checkout">
            <fieldset>
                <legend>Items</legend>
            </fieldset>
            <fieldset>
                <legend>Select Shipping Method</legend>
            </fieldset>
            <fieldset>
                <legend>Confirm Shipping Address</legend>
            </fieldset>
            <fieldset>
                <legend>Confirm Billing Address</legend>
            </fieldset>
            <fieldset>
                <legend>Enter Payment Information</legend>
            </fieldset>
            <div class="btn-group">
                <button type="submit" value="submit-order" class="btn
                btn-primary">
                    Submit Order
                </button>
                <button id="cancel-btn" class="btn btn-warning">Cancel
                    Order</button>
            </div>
        </form>
    </div>
{% endblock %}