<!-- header fragment -->
{% block footer %}
    <div class="container-fluid">
        <hr/>
        <div class="row">
            <div class="col-xs-6 text-left">
                <img src="{{ url_for('static', filename='img/image_placeholder.png') }}"
                     width="64"
                     height="64"
                     alt="logo image goes here">
            </div>
            <div class="col-xs-6 text-right">
                <p>Josh Madden</p>
                <p>Team X</p>
                <p>Franklin University</p>
                <p>COMP461-V1WW-FA14</p>
            </div>
        </div>
    </div>
{% endblock %}