<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib prefix="stripes" uri="http://stripes.sourceforge.net/stripes.tld" %>
<stripes:layout-render name="layout.jsp" pageTitle="E-Commerce Site!">
    <stripes:layout-component name="content">
        <script type="text/javascript" src="js/index.js"></script>
        <div>
            <div class="alert alert-info alert-dismissible">
                This is a demonstrator content piece for AJAX use later
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <stripes:form action="/enterprise_app_project/CalculatorAJAX.action">
                <legend>Calculator</legend>
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-inline">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>First Number</label>
                                    <stripes:text name="numberOne" class="form-control" size="4" maxlength="4"/>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>Second Number</label>
                                    <stripes:text name="numberTwo" class="form-control" size="4" maxlength="4"/>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="btn-group">
                                    <stripes:submit name="add" value="Add" class="btn btn-primary"
                                                    onclick="invoke(this.form, this.name, 'result');"/>
                                    <stripes:submit name="divide" value="Divide" class="btn btn-default"
                                                    onclick="invoke(this.form, this.name, 'result');"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </stripes:form>
            <div class="container-fluid">
                <div class="row">
                    <legend>Results</legend>
                    <div class="col-xs-6" id="result"></div>
                </div>
            </div>
        </div>
    </stripes:layout-component>
</stripes:layout-render>