{% extends "base.html" %}
{% block body %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/register.js') }}">
    </script>
    <div id="register">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <form role="form" action="register" method="post">
                        <fieldset>
                            <legend>User Information</legend>
                            <div class="form-group">
                                <label for="person-name">Name</label>
                                <input type="text" name="person_name"
                                       id="person-name"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email-address">E-Mail</label>
                                <input type="text" name="email_address"
                                       id="email-addres"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" id="username"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password"
                                       id="password"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Confirm Password</label>
                                <input type="password" name="confirm_password"
                                       id="confirm-password"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="secret-question">Secret Question</label>
                                <input type="text" name="secret_question"
                                       id="secret-question"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="secret-answer">Secret Answer</label>
                                <input type="text" name="secret_answer"
                                       id="secret-answer"
                                       class="form-control">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Billing Address</legend>
                            <div class="form-group">
                                <label for="billing-address">Address</label>
                                <input type="text" name="billing_address"
                                       id="billing-address"
                                       class="form-control">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Shipping Address</legend>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="use-billing-address"
                                           value=""
                                           id="use-billing-address">
                                    Use Billing Address
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="shipping-address">Address</label>
                                <input type="text" name="shipping_address"
                                       id="shipping-address"
                                       class="form-control">
                            </div>
                        </fieldset>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary"
                                    id="register-btn"
                                    value="register">Register</button>
                            <button class="btn btn-default"
                                    id="reset-btn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}